* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* ------------------------------ */
  /* ---------- NAVBAR ------------ */
  /* ------------------------------ */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 83px;
    height: 94px;
    background-color: #512079;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  a{
    text-decoration: none;
  }
  .home-icon:hover{
    background-color: #ded3e4;
    color: #ffffff;
    border-radius: 6px;
    padding: 5px;
    transition: all 500ms ease;


  }
  .grow-list {
    flex-grow: 1;
    
  }

  .heading-text{
    margin-left: 25px;
  }
  .list-item:hover{

    background-color: #ded3e4;
    color: #ffffff;
    border-radius: 6px;
    padding: 5px;
    transition: all 500ms ease;
  }
  
  img {
    width: 92px;
    height: 32px;
  }
  

  .list-item{
color: cyan;

  }
  .line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 63px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 64px;
  }
  
  .logo,
  .list-item {
    cursor: pointer;
  }
  
  .button-small {
    padding: 7px 28px;
    background: #ba0cc5;
    border-radius: 6px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
  }

  .button-small:hover{

    color: #ba0cc5;
    background-color: #ffffff;
  }
  
  /* ------------------------------ */
  /* ---------- HERO ------------ */
  /* ------------------------------ */
  
.main-class{
    display: flex;
    align-items: center;
}
  
.left-section h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600px;
    color: aquamarine;
}  
  
.left-section h1 span{
    color: rgb(18, 155, 155);
    font-weight: 900;   
    font-size: 2.5rem;

}
.right-section{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;

}
.right-section video{
    width: 500px;
    height: 570px;
    
}
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("pexels-bibek-ghosh-14553730.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

main ol li{

    background-color: rgba(34, 76, 226, 0.3);

    padding: 20px;
    box-shadow:  0 6px 10px rgba(0,0,  0, .3);

    /*
       x,y,blurness,color
     
    */


    border-radius: 8px;
    width: 80%;
    text-align: center;
    color: rgb(147, 30, 210);


    
}




  
  
  
  
  
  
  /* .hero {

    background-image: url("./assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
    height: 91.5vh;
    text-align: center;
  }
  
  .hero-heading {
    max-width: 846px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    text-align: center;
    color: #ffffff;
    padding-top: 172px;
  }
  
  .hero-description {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
  
  .button-large {
    background: #ba0cc5;
    border-radius: 11.2308px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29.9487px;
    line-height: 45px;
    color: #ffffff;
    border: none;
    padding: 14px 22px;
    margin-top: 64px;
    cursor: pointer;
  }

  .button-large:hover{

    background-color: white;
    color: #ba0cc5;
  } */